{% extends "/mkdocs/mkdocs_base.yml.j2" %}
{% block site_name %}Gaia-X Trust Framework{% endblock %}

edit_uri: {% block edit_url %}edit/main/{{DOCS_DIR | default('docs')}}/{% endblock %}

{% block nav %}
nav:
 - editorial_information.md
 - index.md
 - intro.md
 - trust_anchors.md
 - participant.md
 - service.md
 - resource.md
 - changelog.md
{% endblock %}
